@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600&display=swap');
 :root {
    --primary-color: #eee;
    --secondary-color: #000;
    --border-bg: #9b1276;
    --light-bg: #89c7bf;
    --border-bold: #00262a;
    --border-light: #89c7bf;
}

.dark-theme {
    --primary-color: #000;
    --secondary-color: #eee;
    --border-bold: #89c7bf;
    --border-light: #00262a;
}

* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-transform: capitalize;
    text-decoration: none;
    --scroll-behavior: smooth;
}

*::selection {
    background-color: var(--secondary-color);
}

*::-webkit-scrollbar {
    height: 5rem;
    width: 1rem;
}

*::-webkit-scrollbar-track {
    background-color: var(--primary-color);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--border-light);
}

.hero {
    width: 100%;
    background-color: var(--primary-color);
    min-height: 100vh;
}

.hero header {
    width: 100%;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}

.hero header nav {
    position: fixed;
    z-index: 10001;
    width: 100%;
    margin: auto;
    padding: 4rem 9rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 8rem;
    background-color: var(--border-light);
}

.hero .header .logo {
    cursor: pointer;
}

nav ul li {
    display: inline-block;
    list-style: none;
    padding: 0rem 3rem;
    font-size: 1.5rem;
    position: relative;
}

nav ul li a::before {
    content: '';
    position: absolute;
    background: var(--border-bold);
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

nav ul li a {
    text-decoration: none;
    color: var(--secondary-color);
    transition: 0.3s ease;
}

nav ul li a:hover::before {
    width: 100%;
    padding-bottom: 1px;
}

nav ul li a.active {
    color: var(--border-bg);
}

#icon {
    cursor: pointer;
    width: 3rem;
}

.home {
    position: relative;
    width: 100%;
    min-height: 100vh;
    text-align: center;
    margin: 0;
}

.home .home-box {
    text-align: center;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(5rem, 1fr));
    justify-content: center;
}

.home .home-box .content {
    z-index: 888;
    color: white;
    width: 70%;
    margin: 35rem 17rem;
    display: none;
    position: relative;
    align-items: center;
}

.home .home-box .content.active {
    display: block;
    position: absolute;
}

.home .content h1 {
    font-size: 3rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 70px;
    margin-bottom: 2rem;
    color: var(--light-bg);
}

.home .content p {
    margin-bottom: 4rem;
    color: white;
}

.home .content a {
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.9);
    display: inline-block;
    padding: 1rem 3rem;
    color: white;
    background-color: none;
    font-size: 2rem;
    border-width: medium;
    border-radius: 2px;
    font-weight: bold;
}

.home .content a:hover {
    background-color: var(--border-bg);
}

.home .slider {
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    color: rgba(0, 0, 0, 0.8);
    clip-path: circle(0% at 0 50%);
}

.home .slider.active {
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}

.home::before {
    z-index: 777;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    mix-blend-mode: overlay;
    background: rgba(0, 0, 0, 0.7);
}

.home .slider-navigation {
    z-index: 999;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    transform: translateY(57rem);
    padding-left: 55.25rem;
}

.home .slider-navigation .nav-btn {
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 50%;
    background: var(--light-bg);
    transition: 0.3s ease;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.home .slider-navigation .nav-btn:not(:last-child) {
    margin-right: 1rem;
}

.home .slider-navigation .nav-btn:hover {
    transform: scale(1.3);
}

.hr {
    height: 0.25rem;
    background: var(--secondary-color);
    border: none;
}

.class {
    overflow: hidden !important;
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.seasons {
    margin-top: 6rem;
    width: 100%;
    min-height: 45rem;
}

.seasons .seasons-box {
    width: 100%;
    display: flex;
    margin-top: 3rem;
    justify-content: space-between;
}

.seasons .season .season-box {
    width: 25rem;
    text-align: center;
    border: var(--border-bold);
}

.seasons .season .season-box h2 {
    display: block;
    font-size: 2rem;
    color: var(--border-bold);
}

.seasons .season .season-box img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    border: var(--secondary-color);
    border-style: solid;
    border-width: medium;
}

.btn {
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.9);
    display: inline-block;
    padding: 1rem 3rem;
    background: none;
    background-color: var(--light-bg);
    color: var(--border-bg);
    font-size: 1.5rem;
    border: none;
}

.btn:hover {
    background-color: var(--border-bg);
    color: var(--primary-color);
}

.heading {
    text-align: center;
}

.heading span {
    text-transform: uppercase;
    font-size: 4rem;
    color: var(--border-bg);
    margin-bottom: 3rem;
}

.news {
    margin-top: 1rem;
}

.news .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.news .container .box {
    height: 30rem;
    width: 20rem;
    margin: 1rem;
    margin-top: 3rem;
    margin-left: 4rem;
    border: var(--border-bold);
    border-style: solid;
    border-width: medium;
    border-top-right-radius: 20%;
    border-bottom-left-radius: 20%;
    background-color: var(--secondary-color);
    align-items: center;
    flex-wrap: wrap;
}

.news .container .box .icon {
    height: 15rem;
    width: 15rem;
    margin: 1rem;
    border: var(--border-bg);
    border-top-right-radius: 20%;
    border-style: solid;
    border-width: medium;
}

.news .container .box h3 {
    margin: 0.5rem 1rem;
    font-size: 2rem;
    color: var(--primary-color);
}

.news .container .box p {
    color: var(--primary-color);
    font-size: 1rem;
    margin: 1rem;
}

.works {
    margin-top: 7rem;
}

.works .swiper {
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 5rem;
    height: 50rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right-style: solid;
    border-left-style: solid;
    border-left-color: var(--border-bold);
    border-right-color: var(--border-bold);
}

.works .swipper .swiper-wrapper {
    display: block;
    height: 20rem;
    width: 40rem;
}

.works .swiper .swiper-slide {
    text-align: center;
    margin-bottom: 1rem;
}

.works .swiper .swiper-slide h2 {
    color: var(--border-bold);
    font-size: 1.7rem;
    margin: 2rem;
}

.works .swiper .swiper-slide img {
    width: 100%;
    height: 30rem;
    object-fit: cover;
    border: #00262a;
    border-width: medium;
    border-style: solid;
}

.works .swiper .swiper-slide img #id {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.swiper-pagination {
    color: var(--light-bg);
}

.back {
    background-image: url(../images/australia.jpg);
    background-position: center !important;
    background-size: cover !important;
    background-attachment: fixed;
    display: grid;
    width: 100%;
    margin: 0 auto;
    height: 30rem;
    grid-template-rows: repeat(auto-fit, minmax(5rem, 1fr));
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-items: center;
    justify-content: center;
    margin-bottom: 4rem;
}

.back .btn {
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.9);
    display: block;
    padding: 1rem 3rem;
    color: white;
    font-size: 2rem;
    border-width: medium;
    border-radius: 2px;
    font-weight: bold;
}

.sayim {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    width: 100%;
    align-items: center;
    text-align: center;
}

.sayim div {
    flex-basis: 10rem;
    color: var(--light-bg);
}

.sayim div p {
    font-size: 3rem;
    margin: 1rem;
}

.sayim div span {
    font-size: 2rem;
}

.back a {
    text-align: center;
    align-items: center;
}

footer {
    position: absolute;
    width: 100%;
    background-color: var(--border-light);
    padding: 3rem;
    padding-bottom: 1rem;
    display: row;
    grid-template-rows: minmax(auto, 1rem)
}

footer .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    padding-bottom: 1rem;
    text-align: center;
    justify-content: space-between;
    flex-direction: column;
}

footer .container .social_icon,
footer .container .ek {
    position: relative;
    align-items: center;
    margin: 2rem 0;
    text-decoration: none;
    list-style: none;
}

footer .container .social_icon {
    align-items: center;
    text-align: center;
}

footer .container .social_icon div {
    display: block;
    margin-top: 3rem;
    align-items: center;
}

footer .container .social_icon div,
footer .container .ek div {
    list-style: none;
    text-decoration: none;
    transition: 0.5s ease;
}

footer .container #ek div:hover {
    transform: translateY(-1rem);
    color: var(--light-bg);
}

footer .container .social_icon div a,
footer .container .ek div a {
    font-size: 1.5rem;
    color: var(--secondary-color);
    margin: 1rem 0;
    display: inline-block;
    text-decoration: none;
    list-style: none;
}

footer .container .social_icon div a {
    transition: 0.5s ease;
}

footer .container .social_icon div a:hover {
    transform: translateY(-1rem);
    color: var(--border-bold);
    transition: 0.5s ease;
}

footer .container h3,
footer .container .ek h3 {
    color: var(--border-bg);
    font-size: 2rem;
    margin-bottom: 1rem;
}

footer .container div a i {
    color: var(--border-bold);
    transition: 2s linear;
    padding: 2rem;
}

footer p {
    color: var(--secondary-color);
    text-align: center;
    margin-top: 1rem;
}

.high {
    width: 100%;
    height: 100%;
    position: relative;
    background: url(../images/giraffe.jpg);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.about {
    width: 100%;
    margin: 2rem;
    display: grid;
    grid-template-columns: 20rem auto;
}

.about .article {
    grid-gap: 1rem;
    margin: 0 3rem;
    width: 100%;
}

.about .article div a {
    display: block;
    align-items: center;
    justify-content: center;
    color: var(--light-bg);
    font-size: 2rem;
    margin: 2rem;
    text-align: center;
    text-decoration: none;
    text-transform: none;
}

.about .article div a:hover {
    color: var(--border-bg);
}

.about .article div a.active {
    color: var(--border-bg);
}

.about .article1 {
    margin: 2rem;
    grid-gap: 1rem;
}

.about .article1 p {
    resize: none;
    color: white;
    font-size: 1.25rem;
    margin: 3rem;
    text-align: justify;
    height: 35rem;
    overflow-x: hidden;
    overflow-y: scroll;
    text-indent: 1.5rem;
    --scroll-behavior: smooth;
    padding: 1rem;
}

.high1 {
    width: 100%;
    height: 100%;
    position: relative;
    background: url(../images/bird.jpg);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.class1 {
    overflow: hidden !important;
    margin: 0 auto;
    width: 100%;
    min-height: 70rem;
    align-items: center;
}

.about {
    align-items: center;
    justify-content: center;
    width: 70%;
    min-height: 52rem;
    margin-top: 13rem;
    background: #00262ac2;
    position: center;
    margin-left: 18rem;
    --webkit-backdrop-filter: blur(10rem);
    --backdrop-filter: blur(10rem);
}

.contact {
    align-items: center;
    justify-content: center;
    width: 50%;
    min-height: 52rem;
    margin-top: 13rem;
    background: #00262ac2;
    position: center;
    margin-left: 30rem;
    --webkit-backdrop-filter: blur(10rem);
    --backdrop-filter: blur(10rem);
}

.contact form {
    max-width: 45rem;
    margin: 0 auto;
    background: none;
    background-color: none;
}

.contact form .btn1 {
    box-shadow: 0 2px 10px -2px rgba(0, 0, 0, 0.99);
    display: inline-block;
    padding: 1rem 3rem;
    background: none;
    background-color: var(--light-bg);
    color: var(--border-bg);
    font-size: 1.5rem;
    border: none;
    margin-left: 15rem;
}

.contact form .btn1:hover {
    background-color: var(--border-bg);
    color: var(--primary-color);
}

.contact form .box {
    width: 100%;
    padding: 1.3rem;
    font-size: 2rem;
    text-transform: none;
    border: none;
    margin: 1rem 0;
    background-color: none;
    background: none;
}

.contact form .box::-webkit-input-placeholder {
    color: var(--light-bg);
    opacity: 0.5;
}

.contact form .box:hover {
    background-color: none;
    background: none;
    color: var(--border-bg);
}

.hr1 {
    height: 0.25rem;
    background: var(--primary-color);
    border: none;
}

.contact form .textarea {
    height: 3rem;
    resize: none;
}

.high2 {
    width: 100%;
    height: 100%;
    position: relative;
    background: url(../images/ticket.jpg);
    background-position: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.class1 .find {
    margin-top: 12rem;
    margin-bottom: 3rem;
    border-style: none;
    height: 4rem;
    width: 30rem;
    align-self: center;
    display: flex;
    margin-left: 45rem;
}

.class1 .find form {
    background: #00262ac2;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
}

.class1 .find form:hover {
    background-color: var(--border-light);
}

.class1 .find form input {
    background: none;
    background-color: none;
    color: var(--border-bg);
    border: none;
    height: 3rem;
    width: 20rem;
    font-size: 1.5rem;
    margin: 0.30rem;
    margin-left: 2rem;
}

.class1 .find form input::-webkit-input-placeholder {
    color: white;
}

.class1 .find a {
    background: #00262ac2;
    width: 5rem;
    width: 4rem;
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
}

.class1 .find a:hover {
    background-color: var(--secondary-color);
}

.class1 .find a i {
    color: var(--border-bg);
    font-size: 2rem;
    margin-top: 0.75rem;
    margin-left: 0.5rem;
    display: block;
}

.travels {
    align-items: center;
    justify-content: center;
    width: 70%;
    min-height: 52rem;
    margin-bottom: 5rem;
    background: #00262ac2;
    position: center;
    margin-left: 18rem;
    --webkit-backdrop-filter: blur(10rem);
    --backdrop-filter: blur(10rem);
}

.travels .container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 3rem;
    padding: 2rem;
}

.travels .container .travel {
    min-height: 38rem;
    border-bottom: var(--border-light);
    border-style: solid;
    border-width: medium;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
    position: center;
}

.travels .container .travel h2 {
    display: block;
    font-size: 2.20rem;
    color: var(--border-bg);
    text-align: center;
    min-height: 7rem;
}

.travels .container .travel img {
    width: 22rem;
    height: 22rem;
    object-fit: cover;
    border: var(--secondary-color);
    border-style: solid;
    border-width: medium;
    margin-left: 0.75rem;
}

.travels .container .travel a {
    align-items: center;
    margin-left: 6.75rem;
}